<mix-dialog-wrapper [titleTpl]="titleTpl">
  <ng-template #titleTpl>
    <input
      [formControl]="formControl"
      class="input input-lg input-ghost"
      placeholder="Nhập tìm kiếm sẩn phẩm"
    />
  </ng-template>
  <div dialog-body>
    <mix-table
      [hideToolbar]="true"
      [data]="store.dataEntities() || []"
      [loading]="store.isLoading()"
      [toggleRowSelectOnRowClick]="true"
      [(rowSelection)]="selection"
    >
      <div mixTableColumn [header]="'ecommerce.product.name'" [key]="'title'">
        <ng-template mixColumnCell let-row>
          {{ row.data.title }}
        </ng-template>
      </div>

      <div
        mixTableColumn
        [header]="'common.created_date'"
        [key]="'createdDateTime'"
      >
        <ng-template mixColumnCell let-row>
          <span class="text-sm">
            {{ row.data.created_date_time | date: 'short' }}
          </span>
        </ng-template>
      </div>
    </mix-table>
  </div>

  <div dialog-footer class="flex items-center justify-end gap-2">
    <mix-button (click)="dialogRef.close()" [disabled]="isLoading()">
      {{ 'common.cancel' | transloco }}
    </mix-button>

    <mix-button
      (click)="onSumbit()"
      [color]="'primary'"
      [disabled]="isLoading()"
    >
      {{ 'common.ok' | transloco }}
    </mix-button>
  </div>
</mix-dialog-wrapper>
