<mix-dialog-wrapper [titleTpl]="titleTpl">
  <ng-template #titleTpl>
    <div>
      <div class="text-lg font-semibold">
        {{ 'bms.branch.table.createNew' | transloco }}
      </div>
      @if (!updateMode) {
        <div class="text-base opacity-80">
          of area <span class="font-bold text-primary">{{ area.name }}</span>
        </div>
      }
    </div>
  </ng-template>
  <div dialog-body [formGroup]="form">
    <mix-form-field
      [required]="true"
      [autoFocus]="true"
      [name]="'bms.branch.table.label.name'"
      [description]="isBulkCreate() ? 'Enter one table name per commas' : ''"
    >
      @if (isBulkCreate(); as isBulk) {
        <textarea
          #autofocus
          formControlName="name"
          class="textarea"
          [placeholder]="'common.input.placeholder' | transloco"
        ></textarea>
      } @else {
        <input
          #autofocus
          formControlName="name"
          class="input"
          [placeholder]="'common.input.placeholder' | transloco"
        />
      }
    </mix-form-field>

    <mix-form-field class="mt-6" [name]="'bms.branch.table.label.capacity'">
      <input
        formControlName="capacity"
        type="number"
        class="input input-bordered"
        [placeholder]="'common.input.placeholder' | transloco"
      />
    </mix-form-field>

    @if (updateMode) {
      <mix-form-field class="mt-6" [name]="'Area'">
        <mix-select
          [items]="areaStore.dataEntities()"
          [valueKey]="'id'"
          formControlName="areaId"
          [labelProcess]="areaLabelProcess"
        />
      </mix-form-field>
    }
  </div>

  <div dialog-footer class="flex items-center justify-strt gap-2">
    @if (!updateMode) {
      <mix-toggle
        [value]="isBulkCreate()"
        (valueChange)="isBulkCreate.set($event)"
        >Bulk create</mix-toggle
      >
    }

    <mix-button (click)="dialogRef.close()" type="ghost" class="ms-auto">
      {{ 'common.cancel' | transloco }}
    </mix-button>

    @if (updateMode) {
      <mix-button
        [loading]="isLoading()"
        [color]="'primary'"
        (click)="onSave()"
      >
        {{ 'common.update' | transloco }}
      </mix-button>
    } @else {
      <mix-button
        [loading]="isLoading()"
        [color]="'primary'"
        (click)="onSubmit()"
      >
        {{ 'common.create' | transloco }}
      </mix-button>
    }
  </div>
</mix-dialog-wrapper>
