<mix-table
  [data]="categoryProductRelationStore.dataEntities() || []"
  [paging]="categoryProductRelationStore.pagingInfo()"
  [loading]="categoryProductRelationStore.isLoading()"
  (goPrevious)="categoryProductRelationStore.goPreviousPage()"
  (goNext)="categoryProductRelationStore.goNextPage()"
  [contextMenu]="contextMenu"
  [toolbarTpl]="toolar"
>
  <ng-template #toolar>
    <mix-button
      [prefixIcon]="'plus'"
      [color]="'primary'"
      (click)="onAddProduct()"
    >
      {{ 'ecommerce.product.create' | transloco }}
    </mix-button>
  </ng-template>

  <div mixTableColumn [header]="'Thumbnail'" [key]="'thumbnail'">
    <ng-template mixColumnCell let-row>
      @let product = productStore.dataEntityMap()[row.data.product_id];
      @if (product) {
        <img
          [src]="product.thumbnail"
          class="h-14 w-14 object-cover rounded-lg"
          alt=""
        />
      }
    </ng-template>
  </div>

  <div mixTableColumn [header]="'ecommerce.product.name'" [key]="'title'">
    <ng-template mixColumnCell let-row>
      @let product = productStore.dataEntityMap()[row.data.product_id];
      @if (product) {
        {{ product.title }}
      } @else {
        <div class="skeleton h-4 w-28"></div>
      }
    </ng-template>
  </div>

  <div mixTableColumn [header]="'URL'" [key]="'seo_url'">
    <ng-template mixColumnCell let-row>
      @let product = productStore.dataEntityMap()[row.data.product_id];
      @if (product) {
        <mix-copy-text [text]="product.seo_url || ''"></mix-copy-text>
      } @else {
        <div class="skeleton h-4 w-28"></div>
      }
    </ng-template>
  </div>

  <div mixTableColumn [header]="'ecommerce.product.price'" [key]="'totalPrice'">
    <ng-template mixColumnCell let-row>
      @let product = productStore.dataEntityMap()[row.data.product_id];
      @if (product) {
        <mix-currency [value]="product.price || 0"></mix-currency>
      } @else {
        <div class="skeleton h-4 w-28"></div>
      }
    </ng-template>
  </div>

  <div mixTableColumn [header]="'Thứ tự'" [key]="'priority'">
    <ng-template mixColumnCell let-row>
      <div
        class="w-32"
        (click)="$event.stopPropagation(); $event.preventDefault()"
        (keyup)="$event.stopPropagation(); $event.preventDefault()"
        tabindex="0"
      >
        <mix-inline-input
          placeHolder="Type"
          [value]="row.data.priority"
          (valueChange)="onUpdatePriority(row.data, $event)"
        ></mix-inline-input>
      </div>
    </ng-template>
  </div>
</mix-table>
