<!-- <div
  class="px-4 w-full py-2 text-base-content overflow-x-hidden fixed top-0 left-0 z-30 flex h-16 justify-center transition-shadow duration-100"
>
  <div class="w-4xl mx-auto rounded-lg">
    <nav class="navbar w-full py-0">
      <div class="flex flex-1 items-center md:gap-1 lg:gap-2">
        <div class="flex items-center gap-2">
          <a
            href="/"
            aria-current="page"
            aria-label="Mixcore"
            class="me-2 flex w-35 shrink-0 items-center gap-2"
          >
            <img [src]="appSetting?.appLogoUrl" class="w-44" alt="App logo" />
          </a>

          <div
            dir="ltr"
            tabindex="0"
            role="button"
            class="link link-hover text-base-content/60 relative inline-block font-mono text-[0.625rem]"
          >
            v3.0.0
          </div>
        </div>

        <div>
          <div
            class="searchbox relative mx-3 w-full [&:has(input:focus)_kbd]:hidden"
          >
            <label class="input input-ghost">
              <svg
                class="h-[1em] opacity-50"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <g
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-width="2.5"
                  fill="none"
                  stroke="currentColor"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <path d="m21 21-4.3-4.3"></path>
                </g>
              </svg>
              <input type="search" required placeholder="Search" />
            </label>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div> -->
