.chess-background {
  background-image: url('/images/background.png');
  z-index: -20;
  opacity: 0.02;
}

.mesh-background {
  background-image: url('/images/mesh-background.jpg');
  z-index: -20;
  opacity: 0.02;
}

.hero-background {
  background-image: url('/images/hero-bg-gradient.png');
  z-index: -20;
  background-size: 100% 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position-x: 50%;
}
