<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div data-theme="red">
  <mix-public-header></mix-public-header>
  <mix-breadcrumb [items]="breadcrumb"></mix-breadcrumb>

  <div class="container mx-auto grid lg:grid-cols-2 mt-0 mt-12 md:mt-24 mb-24">
    @if (showSuccess()) {
      <div
        class="pt-12 pb-48 flex items-start justify-between w-full col-span-1 lg:col-span-2"
      >
        <div class="w-full grid grid-cols-1 md:grid-cols-5 gap-8 md:gap-12">
          <div class="col-span-1 md:col-span-2 p-4 md:p-0">
            <div class="text-base md:text-2xl font-bold mb-6">
              Đặt hàng thành công, Xin cảm ơn quý khách
            </div>
            <div class="text-gray-700 text-sm">
              Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để xác nhận
              đơn hàng. <br />
              <a [routerLink]="'/'" class="text-link text-blue-500 underline">
                Tiếp tục mua sắm</a
              >
            </div>
          </div>

          @if (successOrder(); as data) {
            <div
              class="max-w-[600px] p-4 md:p-0 flex flex-col gap-6 col-span-1 md:col-span-3"
            >
              @if (selectedAgency(); as agency) {
                <div
                  class="bg-base-100 shadow rounded-xl p-6 relative border-t-4 border-base-content/20 w-full"
                >
                  <h2 class="text-xl font-bold mb-4">Đại lý phụ trách:</h2>

                  <div class="ffont-semibold mb-1">
                    {{ agency.title }}
                  </div>

                  <div class="mb-1">Sdt: {{ agency.phone }}</div>

                  <div class="mb-1">Email: {{ agency.email }}</div>

                  <div>Địa chỉ cửa hàng: {{ agency.address }}</div>
                </div>
              }

              <div
                class="bg-base-100 shadow rounded-xl p-6 relative border-t-4 border-base-content/20 w-full"
              >
                <h2 class="text-xl font-bold mb-4">Thông tin đơn hàng:</h2>

                <div class="w-full grid grid-cols-3">
                  <div class="col-span-1 font-semibold mb-4">ID:</div>
                  <div class="col-span-2 mb-4">#{{ data?.id }}</div>

                  <div class="col-span-1 font-semibold mb-4">
                    Tên khách hàng:
                  </div>
                  <div class="col-span-2 mb-4">{{ data?.customer_name }}</div>

                  <div class="col-span-1 font-semibold mb-4">
                    Số điện thoại:
                  </div>
                  <div class="col-span-2 mb-4">{{ data?.phone_number }}</div>

                  <div class="col-span-1 font-semibold mb-4">Địa chỉ:</div>
                  <div class="col-span-2 mb-4">{{ data?.address }}</div>
                </div>
              </div>

              <div
                class="bg-base-100 shadow rounded-xl p-6 relative border-t-4 border-base-content/20 w-full"
              >
                <h2 class="text-xl font-bold mb-4">Chi tiết đơn hàng:</h2>

                <ul
                  role="list"
                  class="-my-6 divide-y divide-gray-200 max-h-[50vh] overflow-auto"
                >
                  @for (item of data?.order_items?.data || []; track item.id) {
                    <li class="flex py-6">
                      <div
                        class="size-18 shrink-0 overflow-hidden rounded-md border border-gray-200"
                      >
                        <img
                          alt="{{ item.title }}"
                          [src]="item.thumbnail"
                          class="size-full object-cover"
                        />
                      </div>

                      <div class="ml-4 flex flex-1 flex-col">
                        <div>
                          <div
                            class="flex justify-between text-base font-medium text-gray-900"
                          >
                            <h3>
                              <a href="#">{{ item.title }}</a>
                              @if (item.systemNote) {
                                <div class="text-xs text-base-content/60">
                                  {{ item.systemNote }}
                                </div>
                              }
                            </h3>
                            <p class="ml-4">
                              {{ item.price | number }}
                            </p>
                          </div>
                        </div>
                        <div
                          class="flex flex-1 items-end justify-between text-sm"
                        >
                          <p class="text-gray-500">x{{ item.quantity }}</p>
                        </div>
                      </div>
                    </li>
                  } @empty {
                    <li class="flex py-6">Bạn chưa có đơn hàng nào,</li>
                  }
                </ul>

                <div
                  class="text-xl font-bold mb-4 flex justify-between items-center mt-12"
                >
                  Tổng đơn:

                  <div>{{ totalPrice() | number }}</div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="px-4 pe-4 md:pe-16">
        <p class="text-base md:text-2xl mb-2 font-bold">
          Đơn hàng ({{ cartStore.totalItems() }} sản phẩm)
        </p>
        <p class="text-sm text-gray-400">
          Kiểm tra lại thông tin đơn hàng của bạn trước khi thanh toán.
        </p>
        <div
          class="mt-8 space-y-3 rounded-lg border border-base-content/15 bg-white px-2 py-4 sm:px-6"
        >
          <ul
            role="list"
            class="-my-6 divide-y divide-gray-200 max-h-[50vh] overflow-auto"
          >
            @for (item of cartStore.items(); track item.id) {
              <li class="flex py-6">
                <div
                  class="size-16 shrink-0 overflow-hidden rounded-md border border-gray-200"
                >
                  <img
                    alt=""
                    [src]="item.thumbnail"
                    class="size-full object-cover"
                  />
                </div>

                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div
                      class="flex justify-between text-base font-medium text-gray-900"
                    >
                      <div>
                        <div class="text-sm">{{ item.title }}</div>
                        @if (item.systemNote) {
                          <div class="text-xs text-base-content/60">
                            {{ item.systemNote }}
                          </div>
                        }
                      </div>
                      <p class="ml-4">
                        <app-currency
                          [value]="item.price"
                          [currency]="'đ'"
                        ></app-currency>
                      </p>
                    </div>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">x{{ item.quantity }}</p>
                  </div>
                </div>
              </li>
            } @empty {
              <li class="flex py-6">
                Bạn chưa có đơn hàng nào,
                <a [routerLink]="'/'" class="text-link text-blue-500 underline">
                  Tiếp tục mua sắm</a
                >
              </li>
            }
          </ul>
        </div>
      </div>
      <div
        class="mt-10 p-4 md:p-6 border border-base-content/10 rounded-2xl lg:mt-0"
      >
        <p class="text-xl font-medium">Chi tiết đơn hàng</p>
        <p class="text-gray-400 text-sm mt-2">
          Hoàn tất đơn hàng của bạn bằng cách cung cấp thông tin thanh toán.
        </p>
        <div class="" [formGroup]="form">
          <label for="name" class="mt-4 mb-2 block text-sm font-medium"
            >Tên</label
          >
          <div class="relative">
            <input
              type="text"
              id="name"
              name="name"
              formControlName="customer_name"
              class="w-full rounded-md placeholder-gray-400 bg-base-100 border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
              placeholder="Nguyen Van A"
            />
            <div
              class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                />
              </svg>
            </div>
          </div>

          <label for="phoneNumber" class="mt-4 mb-2 block text-sm font-medium"
            >Số điện thoại liên hệ:</label
          >
          <div class="relative mb-2">
            <input
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              formControlName="phone_number"
              class="w-full rounded-md placeholder-gray-400 bg-base-100 border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
              placeholder="+84..."
            />
            <div
              class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                />
              </svg>
            </div>
          </div>

          <div
            class="mt-6 shadow mb-2 p-4 border border-base-content/10 rounded-lg w-full bg-base-100"
          >
            <label for="" class="mb-2 block text-sm font-medium"
              >Địa chỉ giao hàng:</label
            >

            <app-location-select
              (valueChange)="onLocationChange($event)"
              class="mt-2 block"
            ></app-location-select>

            @if (locationSelect()) {
              <div class="mt-4">
                <div class="relative mb-2">
                  <input
                    type="text"
                    id="address"
                    name="address"
                    formControlName="address"
                    class="w-full rounded-md placeholder-gray-400 bg-base-100 border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="+Nhập địa chỉ cụ thể"
                  />
                  <div
                    class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-gray-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            }

            @if (nearestAgency().length; as agency) {
              <label for="" class="mb-2 mt-6 block text-sm font-medium"
                >Cửa hàng gần bạn nhất:</label
              >

              <div class="flex flex-col gap-4">
                @for (agency of nearestAgency(); track agency.id) {
                  <div
                    class="rounded p-4 border border-base-content/10"
                    [class.border-primary]="selectedAgency()?.id === agency.id"
                    [class.border-2]="selectedAgency()?.id === agency.id"
                    (click)="selectedAgency.set(agency)"
                  >
                    <div>{{ agency.title }}</div>
                    <div class="text-sm opacity-60">
                      Email: {{ agency.email }}
                    </div>
                    <div class="text-sm opacity-60">
                      Sdt: {{ agency.phone }}
                    </div>
                  </div>
                }
              </div>
            }

            @if (validAgency().length; as agency) {
              <label class="mb-2 mt-6 block text-sm font-medium"
                >Cửa hàng gần bạn:</label
              >

              <div class="flex flex-col gap-4">
                @for (agency of validAgency(); track agency.id) {
                  <div
                    class="rounded p-4 border border-base-content/10"
                    [class.border-primary]="selectedAgency()?.id === agency.id"
                    [class.border-2]="selectedAgency()?.id === agency.id"
                    (click)="selectedAgency.set(agency)"
                  >
                    <div>{{ agency.title }}</div>
                    <div class="text-sm opacity-60">
                      Địa chỉ: {{ agency.address }}
                    </div>
                    <div class="text-sm opacity-60">
                      Sdt: {{ agency.phone }}
                    </div>
                  </div>
                }
              </div>
            }
          </div>

          <div class="mt-6 border-t border-b border-base-content/20 py-4">
            <div class="flex items-center justify-between">
              <p class="text-sm font-medium text-gray-900">Đơn hàng</p>
              <p class="font-semibold text-gray-900">
                <app-currency [value]="cartStore.totalPrice()"></app-currency>
              </p>
            </div>
            <div class="flex items-center justify-between">
              <p class="text-sm font-medium text-gray-900">Phí ship</p>
              <p class="font-semibold text-gray-900">...</p>
            </div>
          </div>
          <div class="mt-6 flex items-center justify-between">
            <p class="text-sm font-medium text-gray-900">Tổng cộng</p>
            <p class="text-2xl font-semibold text-gray-900">
              <app-currency [value]="cartStore.totalPrice()"></app-currency>
            </p>
          </div>
        </div>
        <button
          class="mt-4 mb-8 w-full rounded-md btn btn-primary px-6 py-3 font-medium text-white"
          [class.disabled]="form.invalid"
          (click)="onSubmit()"
        >
          Đặt Hàng
        </button>
      </div>
    }
  </div>
  <mix-public-footer></mix-public-footer>
</div>
