@if (showStore()) {
  <div
    class="flex w-full flex-col my-8 md:my-12 container mx-auto px-4 md:px-0"
  >
    <div class="divider divider-start">
      <div
        class="text-lg md:text-2xl font-bold uppercase ps-6 border-l-6 border-primary"
      >
        Danh sách cửa hàng
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4 md:mt-6"
    >
      @for (agency of store.dataEntities(); track $index) {
        <div class="rounded-lg px-4 py-4 border-dashed agency-card">
          <p class="text-lg font-medium mb-2">{{ agency.title }}</p>
          <p class="text-gray-500 text-sm mt-2">
            Địa chỉ: {{ agency.address }}
          </p>
          <p class="text-gray-500 text-sm mt-2">
            Số điện thoại:<mix-copy-text
              class="ms-2"
              [text]="agency.phone"
            ></mix-copy-text>
          </p>
          <p class="text-gray-500 text-sm mt-2">Email: {{ agency.email }}</p>

          <div class="flex items-center mt-4 gap-2">
            <button class="btn btn-outline btn-xs mt-4">Gọi trực tiếp</button>

            <button
              (click)="showMap(agency.map)"
              class="btn btn-outline btn-xs mt-4"
            >
              Xem bản đồ
            </button>
          </div>
        </div>
      }
    </div>
  </div>
}

<footer
  class="lg:grid lg:grid-cols-5 container mx-auto mt-12 border-t border-gray-200"
>
  <div class="px-4 py-8 md:py-16 sm:px-6 lg:col-span-5 lg:px-8">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-9">
      <div class="col-span-2">
        <img src="/logos/app-logo.png" class="h-16 w-auto" alt="" />
      </div>

      <div class="col-span-2">
        <p>
          <span class="text-xs tracking-wide text-gray-500 uppercase">
            Gọi cho chúng tôi
          </span>

          <a
            href="#"
            class="block text-2xl font-medium text-gray-900 hover:opacity-75 sm:text-3xl"
          >
            {{ storeConfig()?.phone_number }}
          </a>
        </p>

        <ul class="mt-8 space-y-1 text-sm text-gray-700">
          <li>Thứ 2 - Thứ 6: 10am - 5pm</li>
          <li>Cuối tuần: 10am - 3pm</li>
        </ul>
      </div>

      <div class="col-span-2 grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div>
          <p class="font-medium text-gray-900">Dịch vụ</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a
                [routerLink]="['/products']"
                class="text-gray-700 transition hover:opacity-75"
              >
                Sản phẩm
              </a>
            </li>
          </ul>
        </div>

        <div>
          <p class="font-medium text-gray-900">Company</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a
                [routerLink]="['/p/ve-chung-toi']"
                class="text-gray-700 transition hover:opacity-75"
              >
                Về chúng tôi
              </a>
            </li>

            <li>
              <a
                [routerLink]="['/p/chinh-sach-doi-tra']"
                class="text-gray-700 transition hover:opacity-75"
              >
                Chính sách đổi trả</a
              >
            </li>

            <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75">
                Tin tức
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-gray-100 pt-12">
      <div class="sm:flex sm:items-center sm:justify-between">
        <ul class="flex flex-wrap gap-4 text-xs">
          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75">
              Cookies
            </a>
          </li>
        </ul>

        <p class="mt-8 text-xs text-gray-500 sm:mt-0">
          &copy; 2025. Thunderbird Vietnam All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
