<div class="w-full gap-4">
  <mix-table
    [data]="store.dataEntities() || []"
    [paging]="store.pagingInfo()"
    [loading]="store.isLoading()"
    (goPrevious)="store.goPreviousPage()"
    (goNext)="store.goNextPage()"
    (rowClick)="goDetail($event.id)"
  >
    <div mixTableColumn [header]="'ID'" [key]="'id'">
      <ng-template mixColumnCell let-row>
        <mix-copy-text [text]="row.data.id"></mix-copy-text>
      </ng-template>
    </div>

    <div mixTableColumn [header]="'ecommerce.product.name'" [key]="'title'">
      <ng-template mixColumnCell let-row>
        {{ row.data.title }}
      </ng-template>
    </div>

    <div [header]="'common.status'" key="'status'" mixTableColumn>
      <ng-template let-row mixColumnCell>
        <mix-status-indicator [status]="row.data.status"></mix-status-indicator>
      </ng-template>
    </div>

    <div
      mixTableColumn
      [header]="'common.created_date'"
      [key]="'createdDateTime'"
    >
      <ng-template mixColumnCell let-row>
        <span class="text-sm">
          {{ row.data.created_date_time | date: 'short' }}
        </span>
      </ng-template>
    </div>
  </mix-table>
</div>
