<mix-dialog-wrapper [title]="'Password Login Configurations'">
  <div dialog-body [formGroup]="form">
    <div class="text-sm text-base-content/60 mb-4">
      Password login is enable by default, turn off this option if you want to
      disable password login for your users.
    </div>

    <mix-toggle formControlName="enable">Enable</mix-toggle>

    <mix-form-field [name]="'Client config'" class="mb-4 mt-6">
      <mix-code-editor
        [value]="config"
        (valueChange)="config = $event"
        class="rounded-lg block overflow-hidden"
      ></mix-code-editor>
    </mix-form-field>
  </div>

  <div dialog-footer class="flex items-center justify-end gap-2">
    <mix-button [type]="'ghost'" (click)="dialogRef.close()">
      {{ 'common.cancel' | transloco }}
    </mix-button>

    <mix-button
      [loading]="isLoading()"
      [color]="'primary'"
      (click)="onSubmit()"
    >
      {{ 'common.update' | transloco }}
    </mix-button>
  </div>
</mix-dialog-wrapper>
