<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div data-theme="red">
  <mix-public-header></mix-public-header>
  <mix-breadcrumb [items]="breadcrumb"></mix-breadcrumb>

  <div class="container mx-auto py-12">
    @if (data(); as item) {
      <div class="flex flex-wrap">
        <!-- Product Images -->
        <div class="w-full md:w-1/2 mb-6 md:mb-8">
          <div class="w-full px-4 md:px-0">
            <img
              [src]="mainImage()"
              alt="Product"
              class="w-full h-[380px] md:h-[440px] object-contain rounded-lg border border-base-content/10 mb-4"
            />
          </div>

          <div
            class="flex flex-wrap w-full gap-4 py-4 mx-4 md:mx-0 justify-start overflow-x-auto"
          >
            <img
              alt=""
              *ngFor="let thumb of thumbnails() || []"
              [src]="thumb"
              alt="Thumbnail"
              class="w-16 min-w-16 h-16 md:h-20 md:w-20 md:min-w-20 object-contain rounded-md border border-base-content/10 cursor-pointer transition duration-300"
              (click)="changeImage(thumb)"
            />

            <img
              alt=""
              *ngFor="let thumb of thumbnails() || []"
              [src]="thumb"
              alt="Thumbnail"
              class="w-16 min-w-16 h-16 md:h-20 md:w-20 md:min-w-20 object-contain rounded-md border border-base-content/10 cursor-pointer transition duration-300"
              (click)="changeImage(thumb)"
            />
          </div>
        </div>

        <!-- Product Details -->
        <div class="w-full md:w-1/2 px-4 md:px-16">
          <h2 class="text-lg md:text-2xl font-bold">
            {{ data()?.title }}
          </h2>

          <div class="rating rating-sm mb-4">
            <input
              type="radio"
              name="rating-6"
              class="mask mask-star-2 bg-orange-400"
              aria-label="1 star"
            />
            <input
              type="radio"
              name="rating-6"
              class="mask mask-star-2 bg-orange-400"
              aria-label="2 star"
              checked="checked"
            />
            <input
              type="radio"
              name="rating-6"
              class="mask mask-star-2 bg-orange-400"
              aria-label="3 star"
              checked="checked"
            />
            <input
              type="radio"
              name="rating-6"
              class="mask mask-star-2 bg-orange-400"
              aria-label="4 star"
              checked="checked"
            />
            <input
              type="radio"
              name="rating-6"
              class="mask mask-star-2 bg-orange-400"
              aria-label="5 star"
              checked="checked"
            />
          </div>

          <div class="mb-4">
            <span class="text-base md:text-lg font-bold mr-2">
              <app-currency [value]="data()?.price || 0"></app-currency>
            </span>
          </div>

          <div class="border border-base-content/10 p-4 rounded-lg mb-4">
            @let attributes = getProductAttributes(item);
            <h3 class="text-base md:text-base font-semibold mb-2">
              Thông tin sản phẩm:
            </h3>

            @for (attr of attributes; track $index) {
              <div
                class="flex justify-between pb-1 mb-2 border-dashed border-b border-base-content/10"
              >
                <span class="text-sm">{{ attr.label }}:</span>
                <span class="text-sm">{{ attr.value }}</span>
              </div>
            }
          </div>

          <div class="border border-base-content/10 p-4 rounded-lg mb-4">
            @let prices = getProductPrices(item);
            <h3 class="text-base md:text-base font-semibold mb-2">Quy cách:</h3>

            <div class="flex items-center gap-2 flex-wrap">
              @let choosedPrice = selectedPrice();
              @for (price of prices; track $index) {
                <div
                  (click)="
                    selectedPrice.set(
                      choosedPrice && choosedPrice?.value === price.value
                        ? undefined
                        : price
                    )
                  "
                  class="badge badge-outline cursor-pointer hover:opacity-60"
                  [class.badge-primary]="
                    choosedPrice && choosedPrice?.value === price.value
                  "
                >
                  {{ price.label }} -
                  <app-currency
                    [currency]="'đ'"
                    [value]="price.value"
                  ></app-currency>

                  @if (choosedPrice && choosedPrice?.value === price.value) {
                    <mix-icon icon="x"></mix-icon>
                  }
                </div>
              }
            </div>
          </div>

          <p class="text-gray-700 mb-6">
            {{ item.short_description }}
          </p>

          <div class="mb-6">
            <div class="join join-horizontal">
              <button
                class="btn join-item btn-square btn-outline"
                (click)="decrease()"
              >
                -
              </button>
              <button class="btn join-item btn-outline">
                {{ quantity() }}
              </button>
              <button
                class="btn join-item btn-square btn-outline"
                (click)="increase()"
              >
                +
              </button>
            </div>
          </div>

          <div class="flex space-x-4 mb-6">
            <button class="btn btn-primary text-white" (click)="addToCart()">
              Thêm vào giỏ hàng
            </button>
          </div>
        </div>

        <div class="w-full md:w-1/2 px-4 md:px-0 mt-16">
          <div class="flex w-full flex-col mb-12">
            <div class="divider divider-start">
              <div
                class="text-lg md:text-2xl font-bold uppercase ps-6 border-l-6 border-primary"
              >
                Thông tin sản phẩm
              </div>
            </div>
          </div>

          <div class="prose prose-sm" [innerHtml]="description()"></div>
        </div>
      </div>
    } @else {
      <div class="flex w-52 flex-col gap-4">
        <div class="skeleton h-32 w-full"></div>
        <div class="skeleton h-4 w-28"></div>
        <div class="skeleton h-4 w-full"></div>
        <div class="skeleton h-4 w-full"></div>
      </div>
    }
  </div>

  <mix-public-footer></mix-public-footer>
</div>
