/* You can add global styles to this file, and also import other style files */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    night;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(98% 0.002 247.839);
  --color-neutral: oklch(0.95 0 0);
  --color-neutral-content: oklch(0.25 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(96% 0.003 264.542);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(100% 0 0);

  --cyan-100: rgb(242, 250, 253);
  --brigth-purple-200: rgb(250, 248, 255);
  --magenta-200: rgb(255, 239, 254);
}

@plugin "daisyui/theme" {
  name: 'night';

  --cyan-100: rgb(0, 31, 39);
  --brigth-purple-200: rgb(29, 14, 58);
  --magenta-200: rgb(63, 13, 59);
}

@plugin "daisyui/theme" {
  name: 'red';
  --color-primary: #ff1212;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  width: 100dvw !important;
  overflow-x: hidden;
}

@media (max-width: 1700px) {
  html,
  body {
    font-size: 90%;
  }
}

@media (max-width: 1400px) {
  html,
  body {
    font-size: 85%;
  }
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: 75%;
  }
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 65%;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 50%;
  }
}

.input > input,
.input,
.textarea {
  @apply placeholder-gray-400 w-full;
  outline: none !important;
}

.input.ng-invalid.ng-touched.ng-dirty {
  @apply border-error;
}

.input:focus,
.input:focus-within,
textarea:focus,
.textarea:focus-within {
  --input-color: color-mix(
    in oklab,
    var(--color-base-content) 30%,
    #0000
  ) !important
;
}

.tippy-box[data-state='hidden'] {
  opacity: 0 !important;
}

.tippy-box {
  transition-duration: 100ms !important;
  background: unset !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  max-width: 82rem !important;
}

.ngneat-dialog-content {
  background: transparent !important;
}

.ngneat-dialog-backdrop {
  backdrop-filter: blur(0.1875rem);
}

.fullscreen-dialog .ngneat-dialog-content {
  width: 100vw !important;
  height: 100vh !important;
  border-radius: unset !important;
  animation: unset !important;
  transition: none !important;
  background: var(--color-base-100) !important;
}

.fullscreen-dialog .ngneat-dialog-backdrop {
  padding: 0 !important;
}

:host {
  --swiper-navigation-size: 1.2rem;
  --swiper-pagination-bullet-inactive-color: #d1d5db;
}

.btn {
  --radius-field: 4rem;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}
