<mix-dialog-wrapper [title]="'bms.branch.area.createNew'">
  <div dialog-body [formGroup]="form">
    <div class="grid grid-cols-12 gap-4">
      <mix-form-field
        class="col-span-12"
        [required]="true"
        [autoFocus]="true"
        [name]="'bms.branch.area.label.name'"
      >
        <input
          #autofocus
          formControlName="name"
          class="input input-bordered"
          [placeholder]="'common.input.placeholder' | transloco"
        />
      </mix-form-field>
    </div>
  </div>

  <div dialog-footer class="flex items-center justify-end gap-2">
    <mix-button (click)="dialogRef.close()">
      {{ 'common.cancel' | transloco }}
    </mix-button>
    <mix-button
      [loading]="isLoading()"
      [color]="'primary'"
      (click)="onSubmit()"
    >
      {{ 'common.create' | transloco }}
    </mix-button>
  </div>
</mix-dialog-wrapper>
