<mix-dialog-wrapper
  [title]="updateMode ? 'Update area' : 'bms.branch.area.createNew'"
>
  <div dialog-body [formGroup]="form">
    <div class="grid grid-cols-12 gap-4">
      <mix-form-field
        class="col-span-12"
        [required]="true"
        [autoFocus]="true"
        [name]="'bms.branch.area.label.name'"
        [description]="isBulkCreate() ? 'Enter one table name per commas' : ''"
      >
        @if (isBulkCreate(); as isBulk) {
          <textarea
            #autofocus
            formControlName="name"
            class="textarea"
            [placeholder]="'common.input.placeholder' | transloco"
          ></textarea>
        } @else {
          <input
            #autofocus
            formControlName="name"
            class="input"
            [placeholder]="'common.input.placeholder' | transloco"
          />
        }
      </mix-form-field>
    </div>
  </div>

  <div dialog-footer class="flex items-center justify-start gap-2">
    @if (!updateMode) {
      <mix-toggle
        [value]="isBulkCreate()"
        (valueChange)="isBulkCreate.set($event)"
        >Bulk create</mix-toggle
      >
    }

    <mix-button (click)="dialogRef.close()" type="ghost" class="ms-auto">
      {{ 'common.cancel' | transloco }}
    </mix-button>

    @if (updateMode) {
      <mix-button
        [loading]="isLoading()"
        [color]="'primary'"
        (click)="onSave()"
      >
        {{ 'common.update' | transloco }}
      </mix-button>
    } @else {
      <mix-button
        [loading]="isLoading()"
        [color]="'primary'"
        (click)="onSubmit()"
      >
        {{ 'common.create' | transloco }}
      </mix-button>
    }
  </div>
</mix-dialog-wrapper>
