<mix-page-container
  [pageTitle]="'Menus'"
  [pageDescription]="'Manage your menu here.'"
  [tabs]="tabs"
>
  <div class="w-full gap-4">
    <mix-table
      [toolbarTpl]="toolar"
      [data]="store.dataEntities() || []"
      [paging]="store.pagingInfo()"
      [filters]="filters"
      [filterValue]="store.query().queries || []"
      [contextMenu]="contextMenu"
      (onFilterChange)="store.filter($event)"
      [loading]="store.isLoading()"
      [(searchText)]="searchText"
      (goPrevious)="store.goPreviousPageRouter()"
      (rowClick)="goToDetail($event.id)"
      (goNext)="store.goNextPageRouter()"
      (goToPage)="store.goToPageRouter($event.pageIndex)"
      (refresh)="store.refresh()"
    >
      <ng-template #toolar>
        <mix-button
          (click)="createNew()"
          [prefixIcon]="'plus'"
          [color]="'primary'"
        >
          {{ 'bms.branch.create' | transloco }}
        </mix-button>
      </ng-template>

      <div
        mixTableColumn
        [header]="'common.label.displayName'"
        [key]="'displayName'"
      >
        <ng-template mixColumnCell let-row>
          <span class="font-medium">
            {{ row.data.name }}
          </span>
        </ng-template>
      </div>

      <div mixTableColumn [header]="'Country'" [key]="'countryName'">
        <ng-template mixColumnCell let-row>
          {{ row.data.countryName }}
        </ng-template>
      </div>

      <div mixTableColumn [header]="'Store name'" [key]="'storeName'">
        <ng-template mixColumnCell let-row>
          {{ row.data.storeName }}
        </ng-template>
      </div>

      <div mixTableColumn [header]="'Sale channel'" [key]="'saleChannelName'">
        <ng-template mixColumnCell let-row>
          {{ row.data.saleChannelName }}
        </ng-template>
      </div>

      <div
        mixTableColumn
        [header]="'common.label.updatedAt'"
        [key]="'lastModified'"
      >
        <ng-template mixColumnCell let-row>
          {{ row.data.lastModified | date }}
        </ng-template>
      </div>
    </mix-table>
  </div>
</mix-page-container>
